
html{
    border: 0;
}

body {   
    background-image: url(../images/back/brick.png);
    margin: 0rem;
    
    
}


a {
    color: #1171B4;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #222;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

ul,
ol {
    padding: 0;
    webkit-padding: 0;
    moz-padding: 0;
    list-style: none;
}

hr {
    height: 2px;
    width: 60px;
    background: #1171B4;
    position: relative;
    border: 0;
    margin: 1rem 0;
}


@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.carousel-container {
    margin-top: 2rem;


}

.navbar-custom {
    background: white;
    opacity: 0.8;
}


.navbar-custom:hover {
    opacity: 1;
}

.carouselExampleIndicators {
    display: flex;
    margin: 5rem;
}


.carousel-item {
    height: 65vh;
    min-height: 300px;
    border: 5px solid white;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.portfolio-item {
    margin-bottom: 30px;
}

.container-logo {
    display: flex;
    justify-content: center;
}

.logo {
    height: 13rem;
    margin-bottom: 1rem;

}

.logo-small{
    height: 2rem;
    width: 2rem;
    visibility: hidden;
}

.show{
    visibility: visible;
}

/*================ productos destacados============================*/

.img:hover {
    opacity: 0.07;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
}
